<nav class="navbar">
  <a class="navbar-brand text-heading" href="#">To-do List</a>
</nav>
<div class="container edit_container1">
    <form #userForm = "ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
            <div class="col-md-11">
                <input type="text" class="form-control" name="userData" [(ngModel)]="userModel.userData">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-md btn-block btn-success">Add</button>
            </div>
        </div>
    </form>
</div>
<div class="container alert alert-light edit_container2">
    <div class="container" *ngFor="let user of postdata" >
      <div class="row w3-margin-bottom">
         <div class="col-md-10">
            <div class="text">{{user.userData}}</div>
         </div>
         <div class="col-md-2">
            <button class="btn btn-success">Remove</button>
         </div>
    </div>
</div>
