<nav class="navbar">
  <a class="navbar-brand text-heading" href="#">To-do List</a>
</nav>
<div class="container edit_container1">
  <form #getTodoData="ngForm" (ngSubmit)="getData(getTodoData)">
    <div class="row">
      <div class="col-md-11">
        <input type="text" class="form-control" name="work" placeholder="Enter ToDo Work" ngModel>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-md btn-block btn-success">Add</button>
      </div>
    </div>
  </form>
</div>
<div class="container alert alert-light edit_container2">
<div class="container">
    <button class="btn">Remove</button>
    <div class="text">This is just text 1</div>
</div>
</div>

